name: CI

on:
  pull_request:
  push:
    branches: [main]

permissions:
  pull-requests: write
  contents: read

jobs:
  test-go-123:
    name: Test Go 1.23
    uses: ./.github/workflows/test.yml
    with:
      go-version: '1.23'
      run-integration-tests: true
    secrets: inherit
    permissions:
      pull-requests: write
      contents: read