name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test-go-124:
    name: Test Go 1.24
    uses: ./.github/workflows/test.yml
    with:
      go-version: '1.24'
      run-integration-tests: true
    secrets: inherit

  test-go-125:
    name: Test Go 1.25
    uses: ./.github/workflows/test.yml
    with:
      go-version: '1.25'
      run-integration-tests: true
    secrets: inherit
